{% extends 'base.html' %}

{% block title %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script> 
    <script src="http://skulpt.org/static/skulpt.min.js" type="text/javascript"></script> 
    <script src="http://skulpt.org/static/skulpt-stdlib.js" type="text/javascript"></script>
    <title>BlackJack</title>
    <style>
        .hide {
        display: none; 
        }
        .hide + label ~ div{
        display: none;
        }
        .hide + label {
        border-bottom: 1px dotted green;
        padding: 0;
        color: green;
        cursor: pointer;
        display: inline-block; 
        }
        .hide:checked + label {
        color: red;
        border-bottom: 0;
        }
        .hide:checked + label + div {
        display: block; 
        background: #efefef;
        -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
        -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
        box-shadow: inset 3px 3px 10px #7d8e8f;
        padding: 10px; 
        }

        .demo {
        margin: 5% 10%;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <iframe src="https://trinket.io/embed/python/efefd539c2?outputOnly=true&runOption=run&start=result" width="100%" height="600" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
            </div>  
            <div class="col-md-6">
                <h1 style="text-align: center;">Блэкджек</h1>
                <div class="demo" style="text-align: center;">
                    <input type="checkbox" id="hd-1" class="hide"/>
                    <label for="hd-1" >Посмотреть правила</label>
                    <div>
                        В игру могут играть от двух до четырех игроков. Играют одной колодой в 36 карт. Старшинство карт не стандартно.

                        Валет — 2 очка
                        Дама — 3 очка
                        Король — 4 очка
                        Туз — 11 очков

                        Остальные карты при подсчете очков оцениваются по номиналу

                        Цель игры набрать в сумме 21 очко.
                    </div>
                </div>
            </div> 
        </div>
    </div>
{% endblock %}
