{% extends 'base.html' %}

{% block title %}
    <title>Главная</title>
{% endblock %}

{% block body %}

  <section class="jumbotron text-center">

      <div class="container">
        <h1 class="jumbotron-heading">Добро пожаловать на SKNM GAMING</h1>
        <p class="lead text-muted">Здесь вы можете отдохнуть после тяжелой работы и учебы. Никакого азарта - только релаксация</p>
      </div>
    </section>
  <div class="container">

      <div class="row">
        <div class="col-sm-4">
          <div class="card mb-4 shadow-sm">
            <img src="/static/images/BlackJack1.jpg" width="350" height="350">
            <div class="card-body">
              <p class="card-text" style="text-align: center">BlackJack</p>
              <div class="d-flex justify-content-between align-items-center">
                <p>
                  <a href="/blackjack" class="btn btn-dark my-2">Play</a>
                </p>
                <small class="text-muted">version 0.1.0</small>
              </div>
            </div>
          </div>
        </div>
          <div class="col-sm-4">
            <div class="card mb-4 shadow-sm">
              <img src="/static/images/poker2.jpg" width="350" height="350">
              <div class="card-body">
                <p class="card-text" style="text-align: center">Poker</p>
                <div class="d-flex justify-content-between align-items-center">
                  <p>
                    <a href="/poker" class="btn btn-dark my-2">Play</a>
                  </p>
                  <small class="text-muted">version 0.1.0</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card mb-4 shadow-sm">
              <img src="/static/images/roullete.jpg" width="350" height="350" alt="Скоро появится картинка">
              <div class="card-body">
                <p class="card-text" style="text-align: center">Roulette</p>
                <div class="d-flex justify-content-between align-items-center">
                  <p>
                    <a href="/roulette" class="btn btn-dark my-2">Play</a>
                  </p>
                  <small class="text-muted">version 0.1.0</small>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>

{% endblock %}
